
@model IEnumerable<WebHpShop.Service.ViewModel.ProductDiscounViewModel>
@{ 
    Layout = null;
}
<div class="container">
    <h4 class="font-rubik font-size-20">Sản Phẩm Mới</h4>
    <hr>

    <!-- owl carousel -->
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
        <div class="item py-2 bg-light">
            <div class="product">
                <a asp-action="ProductDetail" asp-controller="Product" asp-route-id="@item.Id"><img src="~/Images/@item.Image" alt="product1" class="img-fluid" style="height:200px"></a>
                <div class="text-center">
                    <h6>@item.ProductName</h6>
                    <div class="price py-2">
                        <span>@item.Price</span>
                    </div>
                    <a asp-action="BuyProducts2" asp-controller="Cart" asp-route-Id="@item.Id" class="btn btn-outline-warning">
                        <i class="fa fa-shopping-cart"></i>Mua Ngay
                    </a>
                </div>
            </div>
        </div>
        }
    </div>
    <!-- !owl carousel -->

</div>