

@{
    ViewData["Title"] = "Index";
    Layout = "_layoutAdmin";
}
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<h1 class="bg-info text-white">Khuyễn Mãi</h1>
<button class="btn btn-primary" asp-controller="Discount" asp-action="Create"
        data-toggle="ajax-modal" data-target="#add-contact" id="addBtn">
    Tạo Mới
</button>
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addDiscountLabel" aria-hidden="true">
    <div id="AddContent">

    </div>
</div>
<div class="container">
    <br />
    <div style="width:100%; margin:0 auto;">
        <table id="gridDiscount" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th></th>
                    <th>Mã Khuyễn Mãi</th>
                    <th>Nội Dung Khuyễn Mãi</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Khuyễn Mãi(%)</th>
                    <th>Sản Phẩm</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<br />


@section Scripts{
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">


        $("#addBtn").click(function () {
            $.ajax({
                url: $(this).attr("formaction"),
            }).done(function (msg) {
                $("#AddContent").html(msg);
                $("#add-contact").modal("show");
            })
        });
        $("body").on("click", "#save", function () {
            var form = $('form');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            $.ajax({
                type: "post",
                url: form.attr('action'),
                data: {
                    __RequestVerificationToken: token,
                    user: {
                        PositionName: $("#PositionName").val()
                    }
                },
                dataType: "html",
                success: function (result) {
                    $("#add-contact").modal("hide");
                    $("#partial").html(result);
                }
            });
            return false;
        });
        // show data grid
        $(document).ready(function () {
            $("#gridDiscount").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Discount/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],  
                "columns": [
                    { "data": "discountId", "name": "DiscountId", "autoWidth": true },
                    { "data": "discountId", "name": "DiscountId", "autoWidth": true },
                    { "data": "discountContent", "name": "DiscountContent", "autoWidth": true },
                    { "data": "discountDateStart", "name": "DiscountDateStart", "autoWidth": true },
                    { "data": "discountDateEnd", "name": "DiscountDateEnd", "autoWidth": true },
                    { "data": "discountMoney", "name": "DiscountMoney", "autoWidth": true },
                    { "data": "productName", "name": "ProductName", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta)
                        {
                            return '<a  class="fas fa-tools" href="/Discount/Update/' + full.discountId + '"></a>  ' +
                                "<a href='#' class='fas fa-trash-alt' onclick=DeleteData('" + full.discountId + "');></a>";
                        }
                    },

                ]

            });
        });

        function DeleteData(discountId)
        {
            if (confirm("Bạn Thật Sự Muốn Xóa ...?"))
            {
                Delete(discountId);
            }
            else
            {
                return false;
            }
        }

        function Delete(discountId){
        var url = '@Url.Content("~/")' + "Discount/DeleteConfirmed/";
        $.post(url, { id: categoryId }, function (data)
                {
                    if (data)
                    {
                        oTable = $('#gridDiscount').DataTable();
                        oTable.draw();
                    }
                    else
                    {
                        alert("Something Went Wrong!");
                    }
                });
        }


    </script>
}