@model WebHpShop.Reponsitory.Dto.LoginDto
@{
    ViewBag.Title = "Login";
    Layout = "_Layout1";
}

<main id="main-site">
    <div class="containers" style="height:810px">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top:160px">
                <div class="card card-signin my-5" style="margin-top:300px">
                    <div class="card-body" style="background-color:antiquewhite;">
                        <h5 class="card-title text-center">Đăng Nhập</h5>
                        <form class="form-signin" method="post" asp-controller="User" asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" asp-for="Username" class="form-control" placeholder="Tên Đăng Nhập" required autofocus>
                                <label for="inputEmail">Tên Đăng Nhập</label>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Mật Khẩu" required>
                                <label for="inputPassword">Mật Khẩu</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Nhớ mật Khẩu</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng Nhập</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
